.container {
    display: grid;
    flex: auto;
    grid-template-columns: 1fr;
}

.contactSummary {
    margin: 40px;
    width: 50%;
    flex: auto;
    align-self: center;
    flex-direction: column;
}

p {
    color: white;
    text-indent: 20px;
    font-size: x-large;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: auto;
}

.links a {
    height: 64px;
}

.links a img {
    height: 100%;
}
