.projectGallery {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    margin: 0px 20px 0px 20px;
    gap: 20px;
}

.project {
    display: flex;
    align-content: start;
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    background-color: #111111;
}

.thumbnail {
    width: 200px;
    height: 200px;
    overflow: hidden;
    /*Crops images to this elements width/height*/
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectBody {
    flex: 80%;
    flex-direction: column;
    text-align: left;
    color: white;
    margin: 0px 0px 0px 20px;
}

a img {
    width: 64px;
    height: 64px;
}
