:root{
    --red-color: #b10000;
}

html {
    height: 100%;
}

body {
    background-color: #202020;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
    /* Keeps the decorations from causing horizontal scrolling*/
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

header h1{
    margin: 0;
    padding: 10px 0px 10px 20px;
}

.navigation ul{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px 60px 0px 0px;
    gap: 15px;
}

.navigation a{
    font-size: large;
    text-decoration: none;
    color: var(--red-color);
}

.main {
    display: grid;
    /*Explicitly defining the grid as 1x1*/
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    place-items: center;
}

.main .projectGallery {
    grid-area: 1/1;
}

.main .bgCanvas {
    grid-area: 1/1;
}

.main .title {
    grid-area: 1/1;
}

h1 {
    color: white;
    text-align: center;
}

/* TODO: move to separate Projects.css file */
.projectGallery {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
}

.project {
    display: flex;
    align-content: start;
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
}

.thumbnail {
    max-width: 20%;
    flex: 20%;
}

.thumbnail img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.projectBody {
    flex: 80%;
    flex-direction: column;
    text-align: left;
    color: white;
}
