html {
    height: 100%;
}

body {
    background-color: rgb(19, 19, 19);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
    /* Keeps the decorations from causing horizontal scrolling*/
}

.main {
    display: grid;
    /*Explicitly defining the grid as 1x1*/
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    place-items: center;
}

.main .projectGallery {
    grid-area: 1/1;
}

.main .bgCanvas {
    grid-area: 1/1;
}

.main .title {
    grid-area: 1/1;
}

h1 {
    color: white;
    text-align: center;
}

.projectGallery {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
}

.project {
    display: flex;
    align-content: start;
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
}

.thumbnail {
    max-width: 20%;
    flex: 20%;
}

.thumbnail img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.projectBody {
    flex: 80%;
    flex-direction: column;
    text-align: left;
    color: white;
}
